# Ignore semua file dan folder di root directory
/*

# Pengecualian (Kecuali folder-folder ini, biarkan Git mendeteksinya)
!/knmp-smarthub-frontend/
!/knmp-smarthub-backend/
!/*.md

# Pengecualian tambahan jika Anda ingin file .gitignore ini juga di-track
!.gitignore
